//
// Contextual Popovers
// --------------------------------------------------

.contextual-popover(@context-color){

    //** Popover fallback border color
    @popover-fallback-border-color-success:       #808080;

    color: @context-color;
    background-color: #fff;
    padding: 0;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
    border: @popover-fallback-border-color-success;
    border: @popover-border-color;

    .popover-title {
        color: #fff;
        background-color: hsv(hsvhue(@context-color), 100%, hsvvalue(@context-color));
    }
}

.popover.popover-success { .contextual-popover(@state-success-text) }
.popover.popover-info    { .contextual-popover(@state-info-text)    }
.popover.popover-warning { .contextual-popover(@state-warning-text) }
.popover.popover-danger  { .contextual-popover(@state-danger-text)  }
